# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/

# VS Code
.vscode/

# Scrapy outputs + logs
data/
logs/

# SQLite
db/*.db
db/*.db-wal
db/*.db-shm

# OS cruft
.DS_Store
Thumbs.db